<h1>Hello this is search</h1>

<%= link_to "#{@random_restaurant.name}", "#{@random_restaurant.url}", :target => "_blank" %>
<%= image_tag(@random_restaurant.image_url) %>

<%= link_to "Home", root_path %>